<div class="container-fluid footer">
    <div class = "row">
        <!--name-->
        <div class = "col-lg-4">
            <h1>MovieTicketingSystem</h1>
            <p> Enjoy , Experience</p>
        </div>
        <!--nav-->
        <div class="col-lg-4">
            <a routerLink=""> Home </a>
            <a routerLink="movies"> Movies </a>
            <a routerLink="booking">Booking</a>
            <a routerLink="login"> Admin </a>
        </div>
        <!--socialmedia-->
        <div class="col-lg-4">
            <a href="#"target="_blank"><i class="bi bi-facebook" ></i></a>
            <a href="#"target="_blank"><i class="bi bi-whatsapp" ></i></a>
            <a href="#"target="_blank"><i class="bi bi-youtube" ></i></a>
            <a href="#"target="_blank"><i class="bi bi-instagram" ></i></a>


    
        </div>
    </div>
</div>
