<router-outlet></router-outlet>
<html>

<body>
    <h1 style="color:green;text-align:center;">Welcome Admin</h1>
    <hr style="height:2px;border-width:0;color:gray;background-color:gray">

     

    <!-- Button List -->

     

    <div class="text-center">

         


        <a routerLink="/addMovie"><button type="button" class="btn btn-danger" data-toggle="modal"
                data-target="#exampleModal">Add Movie</button></a>

         

        <!-- <a routerLink="/movieList"><button type="button" class="btn btn-warning">Movies List</button></a> -->

         

        <a routerLink="/addTheatre"><button type="button" class="btn btn-warning" data-toggle="modal"
                data-target="#exampleModal" style="margin-right: 20px;">Add Theatre</button></a>

        <a routerLink="/LogOut"><button type="button" class="btn btn-danger" data-toggle="modal"
                data-target="#exampleModal">Log Out</button></a>

        <!-- <a routerLink="/theatreList"><button type="button" class="btn btn-warning">Theatre Lists</button></a> -->
    </div>


     

       
</body>

</html>