
<div class="container mt-5 mb-5">
    <h1 class ="text-center mt-4">Current Movies</h1>
    <div class="row">
        <div class="col-lg-4"  *ngFor="let mov of MovieData;">
            <div class ="moviebox">
                <img src="{{mov.poster}}">
                <h2>{{mov.name}}</h2>
                <p>{{mov.directorName}}</p>
                <p>{{mov.price| currency :'INR'}}</p>
                <a class="booknowbtn" routerLink='/booking'><button type="button" class="btn btn-success">Book Now</button></a>
            </div>
        </div>
    </div>
</div>
